apiVersion: v1
kind: Service
metadata:
  name: nestarmv7
  namespace: demo
  labels:
    app: nestarmv7
spec:
  type: ClusterIP
  selector:
    app: nestarmv7
  ports:
  - name: http
    port: 3000
    protocol: TCP
    targetPort: http